
.video-player{
    margin: 1rem;
}

.video {
    width: 100%;
    height: 100%;
}

.uploaded-by {
    display: flex;
    justify-content:space-between;
    margin: 0 2rem;
}

.engagements {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.description {
    margin: 0 4rem;
}

.inline {
    display: flex;
}