.video-player {
  padding: 2rem;
}

.video {
  height: 60vh;
}

.uploaded-by {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.engagements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-item: center;
  margin: 1rem;
  color: #d1d5db;
}

.engagements-left {
  display: flex;
  font-size: 1.25rem;
}

.engagements-left div {
  margin-right: 1rem;
}

.engagements-right {
  display: flex;
}

.engagements-right .MuiSvgIcon-root {
  font-size: 3rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.engagements-right .MuiSvgIcon-root:hover {
  color: var(--primary-color);
}

.engagements-right-selected {
  color: var(--primary-color);
}

.description {
  margin: 0 4rem;
}

.subscribers {
  color: #d1d5db;
  font-size: 1.25rem;
}

.inline {
  display: flex;
}
