@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.link {
    color: inherit;
    text-decoration: inherit;
}
:root{
    font-family: 'Lato', sans-serif;
    --background: #1F2937;
    --text: #F3F4F6;
    background-color: var(--background);
    color: var(--text);
    --border: #232527;
}

body {
    margin: 0;
}

.App {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 12vh 1fr;
    grid-template-areas: "nav     nav "
                         "sidebar canvas";
}

.nav {
    grid-area: nav;
    box-shadow: 0 0.5rem 1rem .25rem rgba(0,0,0);
    color: var(--text);
}

.sidebar {                                                                                                                                                     
    grid-area: sidebar;
    background-color: crimson;
}

.sidebar-option {
    
}

.canvas{
    grid-area: canvas;
}